@font-face {
  font-family: 'DKCoolCrayon.ttf';
  src: url('/app/assets/fonts/DKCoolCrayon.ttf')  format('truetype');
}

body {
  font-family: 'DKCoolCrayon.ttf', Fallback, sans-serif;
}

.abc-title {
  padding-top: 20px;
}

.abc-title h1::first-letter {
  font-size: 2em;
}

.aidans::first-letter {
  color: blue;
}

.beastial::first-letter {
  color: #f4e842;
}

.companions::first-letter {
  color: red;
}

.hello {
  color: blue;
}

.superlative {
  font-size: 1.5em;
  color: #3ce500;
}

.question {
  font-size: 1.5em;
}

.game input {
  font-size: 3em;
  height: 1.5em;
}

.game-over {
  color: red;
}
